<!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      101
    </mat-panel-title>
    <mat-panel-description style="padding-left: 200px;">
      Kalgutkar's
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="owner-list">
    <div class="owner-tile" *ngFor="let owner of owners">
      <div class="owner-card">
        <div class="owner-image">
          <img [src]="owner.picture" alt="Owner Image" class="owner-image-img" />
        </div>
        <div class="owner-details">
          <h2>{{ owner.name }}</h2>
          <p>{{ owner.adharcardNo }}</p>
          <p>{{ owner.contact }}</p>
          <p>{{ owner.emailId }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel> -->

<br/>

<mat-card class="card">
  <form [formGroup]="uiForm">
    <mat-card-header class="card-head">
      <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Shiba Inu">
      <mat-card-title>Ownership</mat-card-title>
      <mat-card-subtitle>New</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content class="card-body">
      <mat-grid-list cols="12">
        <!-- Ownership Title -->
        <mat-grid-tile [colspan]="4">
          <mat-form-field class="mat-form-field-input">
            <mat-label>Ownership Title</mat-label>
            <input matInput formControlName="ownershipTitle">
          </mat-form-field>
        </mat-grid-tile>

        <!-- Possession Date -->
        <mat-grid-tile [colspan]="4">
          <mat-form-field class="mat-form-field-input">
            <mat-label>Possession Date</mat-label>
            <input matInput [matDatepicker]="dp1" formControlName="possessionDate">
            <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Sale Deed Date -->
        <mat-grid-tile [colspan]="4">
          <mat-form-field class="mat-form-field-input">
            <mat-label>Sale Deed Date</mat-label>
            <input matInput [matDatepicker]="dp2" formControlName="saleDeedDate">
            <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Active Status -->
        <!-- <mat-grid-tile>
          <mat-form-field class="mat-form-field-input">
            <mat-label>Active Status</mat-label>
            <mat-select formControlName="isActive">
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile> -->
      </mat-grid-list>

      <div *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Uploaded File" />
      </div>
      <app-app-mat-tab-secondary-info></app-app-mat-tab-secondary-info>
    </mat-card-content>

    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        <mat-icon>check</mat-icon>
        Submit
      </button>
      <button type="button" mat-raised-button (click)="uiForm.reset()">
        <mat-icon>remove_circle</mat-icon>
        Clear all
      </button>
    </mat-card-actions>
  </form>
</mat-card>