/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@include mat.core();


// END This is Main Container for all component that render in BODY component

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --primary-color: #cc0000;
}


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .mat-form-field-input {
//     @include mat.form-field-density(-4);
//     width: calc(100% - 5px);
//     height: 70px;
//     text-align: center; /* Align text horizontally */
//     line-height: 70px;  /* Match height to center vertically */
// }

// .mat-form-field-calender {
//     @include mat.form-field-density(-4);
//     height: calc(100% - 5px);
//     width: calc(100% - 5px);
// }


